<h1>Create a new video game</h1>

<% @video_game.errors.full_messages.each do |msg| %>
<p><%= msg %></p>
<% end %>

<%= form_for(@video_game) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit %>
<% end %>
