<h1><%= @artist.title %></h1>

<%= render 'partials/review_list' %>

<% if logged_in? %>
  <%= render 'partials/review_form' %>
  <%= render 'partials/like_form' %>
<% else %>
  <%= render 'partials/login_signup' %>
<% end %>
