<h1><%= @artist.title %></h1>
<br>
<span>Average Rating: </span><span><%= @artist.average_rating %></span>

<h2>Reviews</h2>
<ul>
<% @artist.reviews.each do |review| %>
  <li>
    <label>User: </label>
    <%= review.user.username %>
    <br>
    <label>Rating: </label>
    <%= review.rating %>
    <br>
    <label>Review: </label>
    <%= review.content %>
  </li>
<% end %>
</ul>

<% if logged_in? %>
<h3>Create Review</h3>
<%= form_for(@review) do |f| %>

  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <%= f.label :rating %>
  <%= f.number_field :rating, placeholder: "0-5" %>
  <br>
  <%= f.hidden_field :reviewable_id, :value => @artist.id %>
  <%= f.hidden_field :reviewable_type, :value => "Artist" %>
  <%= f.submit %>

  <% end %>
  <% unless liked?(@like) %>
    <%= form_for(@like) do |f| %>
      <%= f.hidden_field :likeable_id, :value => @artist.id %>
      <%= f.hidden_field :likeable_type, :value => "Artist" %>
      <%= f.submit "Add to my list" %>
    <% end %>
  <% else %>
    <%= form_for(@like, method: "delete") do |f| %>
      <%= f.hidden_field :likeable_id, :value => @artist.id %>
      <%= f.hidden_field :likeable_type, :value => "Artist" %>
      <%= f.submit "Remove from my list" %>
    <% end %>
  <% end %>

<% end %>
