<h1><%= @movie.title %></h1>
<span>directed by </span><span><%= @movie.director %></span><br>
<span>Average Rating: </span><span><%= @movie.average_rating %></span>

<%= button_to "Delete Movie", movie_path(@movie), method: 'delete' %>

<h2>Reviews</h2>
<ul>
<% @movie.reviews.each do |review| %>
  <li>
    <label>User: </label>
    <%= review.user.username %>
    <br>
    <label>Rating: </label>
    <%= review.rating %>
    <br>
    <label>Review: </label>
    <%= review.content %>
  </li>
<% end %>
</ul>

<h3>Create Review</h3>
<%= form_for(@review) do |f| %>

  <%= f.label :content %>
  <%= f.text_field :content %>
  <br>
  <%= f.label :rating %>
  <%= f.number_field :rating %>
  <br>
  <%= f.hidden_field :reviewable_id, :value => @movie.id %>
  <%= f.hidden_field :reviewable_type, :value => "Movie" %>
  <%= f.submit %>

<% end %>
