<h1><%= @movie.title %></h1>
<span>directed by </span><span><%= @movie.director %></span><br>

<%= render 'partials/review_list' %>

<% if logged_in? %>
  <%= render 'partials/review_form' %>
  <%= render 'partials/like_form' %>
<% else %>
  <%= render 'partials/login_signup' %>
<% end %>
