
  <div class="center reviewable-head z-depth-1">
    <h2><%= @movie.title %></h2>
    <span class="tiny">directed by <span class="tiny"><%= @movie.director %></span>
    <br>

    <label class="tiny">Average Rating: </label><span><%= @review.reviewable.average_rating %></span>


    <% if logged_in? %>
      <%= render 'partials/like_form' %>
    <% end %>
  </div>


<div class="container reviewable-content">
  <div class="row">
    <div class="col s6">
      <%= render 'partials/review_list' %>
    </div>
    <div class="col s5 right">
      <% if logged_in? %>
        <%= render 'partials/review_form' %>
      <% else %>
        <%= render 'partials/login_signup' %>
      <% end %>
    </div>
  </div>
</div>
