<h1><%= @user.name.capitalize %>'s Profile Page</h1>
Username: <%= @user.username %><br>

<h2><%= @user.name %>'s Reviews</h2>
<ul>
<% @user.reviews.each do |review| %>
  <li>
    <h3><%= link_to review.reviewable.title, url_for(review.reviewable) %></h3>
    <p><%= review.content %></p>
    <p><b>Rating: </b><%= review.rating %></p>
  </li>
<% end %>
</ul>

<h2><%= @user.name %>'s List</h2>
<ul>
<% @user.likes.each do |like| %>
  <li><%= like.likeable.title %></li>
<% end %>
</ul>
