<h1><%= @book.title %></h1>
<span>by </span><span><%= @book.author %></span>
<br>

<%= render 'partials/review_list' %>

<% if logged_in? %>
  <%= render 'partials/review_form' %>
  <%= render 'partials/like_form' %>
<% else %>
  <%= render 'partials/login_signup' %>
<% end %>
