<h1><%= @book.title %></h1>
<span>by
</span>
<span><%= @book.author %></span>
<br>
<span>Average Rating:
</span>
<span><%= @book.average_rating %></span>

<%# button_to "Delete Book", book_path(@book), method: 'delete' %>

<h2>Reviews</h2>
<ul>
    <% @book.reviews.each do |review| %>
    <li>
        <label>User:
        </label>
        <%= review.user.username %>
        <br>
        <label>Rating:
        </label>
        <%= review.rating %>
        <br>
        <label>Review:
        </label>
        <%= review.content %>
        <br>
        <% if logged_in? && current_user.id == review.user_id %>
        <%= button_to("Delete Review", review_path(review), method: 'delete')%>
        <% end %>
    </li>
    <% end %>
</ul>

<% if logged_in? %>
  <h3>Create Review</h3>

  <% if reviewed?(@review) %>
    <%= form_for(@review) do |f| %>
      <%= f.label :content %>
      <%= f.text_area :content %>
      <br>
      <%= f.label :rating %>
      <%= f.number_field :rating %>
      <br>
      <%= f.hidden_field :reviewable_id, :value => @book.id %>
      <%= f.hidden_field :reviewable_type, :value => "Book" %>
      <%= f.submit %>
    <% end %>
  <% else %>
    <%= form_for(@review) do |f| %>
      <%= f.label :content %>
      <%= f.text_area :content %>
      <br>
      <%= f.label :rating %>
      <%= f.number_field :rating, placeholder: "0-5" %>
      <br>
      <%= f.hidden_field :reviewable_id, :value => @book.id %>
      <%= f.hidden_field :reviewable_type, :value => "Book" %>
      <%= f.submit  %>
    <% end %>
  <% end %>

  <% unless liked?(@like) %>
    <%= form_for(@like) do |f| %>
      <%= f.hidden_field :likeable_id, :value => @book.id %>
      <%= f.hidden_field :likeable_type, :value => "Book" %>
      <%= f.submit "Add to my list" %>
    <% end %>
  <% else %>
    <%= form_for(@like, method: "delete") do |f| %>
      <%= f.hidden_field :likeable_id, :value => @book.id %>
      <%= f.hidden_field :likeable_type, :value => "Book" %>
      <%= f.submit "Remove from my list" %>
    <% end %>
  <% end %>

<% else %>
  <%= render 'partials/login_signup' %>
<% end %>
